body{
  background: rgb(1,0,1);
background: linear-gradient(90deg, rgba(1,0,1,1) 0%, rgba(56,9,73,1) 52%, rgba(49,13,119,1) 80%, rgba(18,3,75,1) 100%);
}


.izquierda img{
    width: 300px;
    height: auto;
}

table {
    margin: 30px;
    padding: 60px;
    border: black 2px solid;
    background-color:rgb(194, 139, 231);
    text-align: center;
    color:black;
  }

  td{
    border:black 2px solid;
    padding:10px;
  }

  th{
    border:black 2px solid;
    padding:10px;
    font-size: 15px;
  }

  p{
    text-align: justify;
    text-justify: inter-word;
    color:white;
  }

  h1{
    text-align: left;
    font-family: fantasy;
    font-size: 50px;
    background-color: white;
  }

  h2{
    text-align: left;
    font-family: fantasy;
    font-size: 30px;
    color:white;   
  }

  h5{
    color:white;
  }

  button{
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 500;
  height: 2.5rem;
  padding: 0 1.4rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
}

ol{
  color:white;
}

.contenedor-de-botones {
  display: flex;
  align-items: center;
}

.boton-masinfo button {
  margin-left:30px; 
}

.canciones{
  margin-left: 35px;
}

.nueva-cancion{
  margin-left: 90px;
}

@media only screen and (min-width:768px) and (max-width: 991px) {
  /* PANTALLA MEDIANA */
}

@media only screen and (max-width: 767px) {
  /* PANTALLA PEQUEÑA */
}

