body {
    background: rgb(1, 0, 1);
    background: linear-gradient(90deg, rgba(1, 0, 1, 1) 0%, rgba(56, 9, 73, 1) 52%, rgba(49, 13, 119, 1) 80%, rgba(18, 3, 75, 1) 100%);
}

.contenedor1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: ;
}

.pie {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedor2 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
    width: 36vw;


}

.contenedor5 {
    color: black;
    font-family: cursive;
    font-size: 64px;
    background-color: white;


}


.titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 64px;
}