div {
    background-color: black;
    margin-top: auto;
    height: 500px;
    width: 100%;
    text-align: center;
    size : 50%;
    align-content: left;
}
p {
    color: white;
    font-size: 36px;
    font-style: italic ;
}

