p {
    font-weight: bold;
    color:black;
    font-size: 20px;
    font-style: italic;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


.cabecera {
    background: linear-gradient(to right, rgb(196, 160, 41),rgb(255, 0, 140), rgb(111, 0, 255));
}

.cabecera p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vw;
}


.cabecera h1 {
    font-family: fantasy;
    font-size: 8vw;
    color: white;
}


h3{
    font-size: 3vw;
    font-weight: bold;
}

.cantante img {
   width: 25vw; 
   height: auto;
   padding: 10px;
}

.cantante p {
    font-size: 2vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
}