

p {
    font-weight: bold;
    color:black;
    font-size: 20px;
    font-style: italic;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.cabecera {
    background: linear-gradient(to right, rgb(196, 160, 41),rgb(255, 0, 140), rgb(111, 0, 255));
    font-family: fantasy;
    font-size: 300px;
    width: auto 0;
}

h3{
font-weight: bold;
}

