<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cantante - Detalles</title>
    <link rel="stylesheet" href="masinfostyle.css">
</head>
<body>

    <h1 id="nombreCantante">Nombre del Cantante</h1>
    <img id="imagenCantante" src="" alt="Imagen del Cantante">
    <p id="generoCantante"></p>
    <p id="descripcionCantante"></p>
    <p id="fechaHoraCantante"></p>
    <ul id="cancionesCantante"></ul>
    <button onclick="editarCantante()">Editar</button>
    <button onclick="guardarCambios()">Guardar</button>
    <button onclick="borrarCantante()">Borrar</button>
    <form id="formNuevaCancion">
        <label for="nombreCancion">Nombre de la canción:</label>
        <input type="text" id="nombreCancion" required>
        <label for="duracionCancion">Duración:</label>
        <input type="text" id="duracionCancion" required>
        <label for="anoLanzamientoCancion">Año de lanzamiento:</label>
        <input type="text" id="anoLanzamientoCancion" required>
        <label for="colaboradorCancion">Colaborador:</label>
        <input type="text" id="colaboradorCancion" required>
        <button type="button" onclick="agregarCancion()">Añadir Canción</button>
    </form>

    <script src="app.js">document.addEventListener("DOMContentLoaded", cargarDatosCantante);
    </script>
</body>
</html>
