<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cantante - Detalles</title>
    <link rel="stylesheet" href="stylemasinfo.css">
</head>
<body>

    <h1 id="nombre">Nombre del Cantante</h1>
    <img id="imagen" src="" alt="Imagen del Cantante">
    <p id="genero"></p>
    <p id="descripcion"></p>
    <p id="fechaHora"></p>
    <ul id="canciones"></ul>
    <button onclick="editar()">Editar</button>
    <button onclick="guardar()">Guardar</button>
    <button onclick="borrar()">Borrar</button>
    <form id="formNuevaCancion">
        <label for="nombre">Nombre de la canción:</label>
        <input type="text" id="nombre" required>
        <label for="duracion">Duración:</label>
        <input type="text" id="duracion" required>
        <label for="Lanzamiento">Lanzamiento:</label>
        <input type="text" id="Lanzamiento" required>
        <label for="colaborador">Colaborador:</label>
        <input type="text" id="colaborador" required>
        <button type="button" onclick="agregarCancion()">Añadir Canción</button>
    </form>

    <script src="app.js">document.addEventListener("DOMContentLoaded", cargarDatosCantante);
    </script>
</body>
</html>
