{{#artistas}}
    <div class="cantante col-12 col-md-6 col-lg-3"> <!--CADA ARTISTA OCUPA 3 COLUMNAS (PANTALLA GRANDE), 6 COLUMNAS (PANTALLA MEDIANA), 12 COLUMNAS (PANTALLA PEQUEÑA)-->
        <a href="/masInfo/{{id}}">
            <p>{{nombre}}</p>
        </a>
        <a href="/masInfo/{{id}}"><img src="{{imagen}}" alt="{{nombre}}"></a>
        <h3>{{genero}}</h3>
    </div>
{{/artistas}}