<!--el archivo html ahora se llama mustache, es lo mismo  -->
<!-- aqui voy a tener la plantilla del cantante y cuando renderice se me pone la información especifica de ese cantante en la plantilla -->
<!DOCTYPE html>
<html lang="es">

<head>
    <title>MIXTAPE FESTIVAL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"> </script>
    <link rel="stylesheet" href="styleprincipal.css">
    <script src="app.js"></script>
</head>
<body>
    <section>
        <div class="favoritos-sidebar">
            <h2>Favoritos</h2>
            <ul id="favoritos-lista"></ul>
        </div>
    </section>
    <section>
        <div class="cabecera">
            <div class="container text-center">
                <div class="row">
                    <div class="col-10">
                        <h1>MIXTAPE FESTIVAL</h1> <!-- TITULO -->
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="container text-center">
            <div class="row">
                <div class="col-10">
                    <!-- Barra de búsqueda -->
                    <form class="search-form">
                        <input type="text" id="searchInput" placeholder="Buscar cantante...">
                        <button type="button" onclick="search()">Buscar</button>
                        <button type="button" onclick="resetSearch()">Mostrar Todos</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="artistas col-10">
                    <p>ARTISTAS INVITADOS</p> <!--PRIMERA FILA DEL GRID-->
                </div>
            </div>
            <br>
            <div class="row" id="artist-container">
                {{#artistas}}
                <<div class="cantante col-12 col-md-6 col-lg-3" data-id="{{id}}">
                    <a href="/masInfo/{{id}}">
                        <p>{{nombre}}</p>
                    </a>
                    <a href="/masInfo/{{id}}"><img src="{{imagen}}" alt="{{nombre}}"></a>
                    <div class="generoyfav">
                        <h3>{{genero}}</h3>
                        <button class="btn btn-corazon {{#esFavorito}}active{{/esFavorito}}" onclick="toggleCorazon(this)" data-id="{{id}}">&#x2665;</button>
                    </div>
                </div>
                {{/artistas}}
            </div>
        </div>
    <br>
    </section>
    <section>
        <div class="boton-cargar_mas">
        <button onclick='loadMore()' class="btn btn-primary d-grid gap-2 col-3 mx-auto" type="button">CARGAR MAS</button>
        </div>
    </section>
    <br><br>
     <section>
        <div class="boton-nuevoelemento">
            <a href="/nuevo"><button class="btn btn-primary d-grid gap-2 col-6 mx-auto" type="button">NUEVO ELEMENTO</button></a> <!--BOTON NUEVO ELEMENTO-->
        </div>
    </section>
    <br>
    <section>
        <div class="container mapa"> <!--CONTENEDOR DEL MAPA-->
            <div class="row">
                <div class="col text-center">
                    <p>Albacete, canta y vete</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h4>Os dejamos la ubicacion del Festival</h4>
                </div>
            </div>
            <div class="row">
                <div class="col text-center"> <!--MAPA-->
                    <iframe class="map-responsive" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3100.3810900544145!2d-1.796441424350917!3d39.00661944025275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd66f502a25da35f%3A0x834de9dca87b708e!2sCircuito%20de%20Albacete%20-%20Albacete%20Motor%20Speedway!5e0!3m2!1ses!2ses!4v1697320861144!5m2!1ses!2ses" width="75%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>

    <br>
    <footer class="container-fluid text-center">
        <h5>Albacete es internationally que no os engañen</h5> <!--PIE DE PAGINA-->
    </footer>

</body>

</html>
