body{ /*COLOR DE FONFO DE PAGINA*/
    background-color: black; 
}

h3{ /*GENERO*/
    font-size: 4vw;
    font-weight: bold;
    color: white;
}

a { /*PARA QUE NO SE SUBRAYEN LOS ENLACES*/
    text-decoration: none;
  }


footer { /*PIE DE PAGINA*/
    background-color: #f2f2f2;
    padding: 15px;
}


.cabecera { /*FONDO CABECERA*/
    background: linear-gradient(to right, rgb(196, 160, 41),rgb(255, 0, 140), rgb(111, 0, 255));
}

.cabecera p{ /*FORMATO CABECERA SUBTITULO*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5vw;
}


.cabecera h1 { /*FORMATO CABECERA TITULO*/
    font-family: fantasy;
    font-size: 8vw;
    color: white;
}

.artistas{ /*FONDO DE LA FILA DE ARTISTAS INVITADOS*/
    background-color: white;
}

.artistas p { /*FORMATO DE ARTISTAS INVITADOS*/
    font-weight: bold;
    font-size: 3.5vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    text-align: center
}

.cantante img { /*TAMAÑO IMAGEN*/
   width: 20vw; 
   height: 30vw;
   padding: 5px;
}

.cantante p { /*FORMATO NOMBRE CANTANTE*/
    font-size: 1.8vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.cantante h3{ /*FORMATO GENERO CANTANTE*/
    font-size: 1.5vw;
    font-weight: bold;
    color: rgb(171, 171, 171);
    padding-bottom: 50px;
}
.mapa h4{ /*FORMATO TEXTO MAPA*/
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
}

.mapa p{ /*FORMATO TEXTO MAPA*/
    font-size: 2vw;
    font-weight: bold;
    color: white;
}

.btn { /*FORMATO BOTON NUEVO ELEMENTO*/
    background-color: #ffffff;
    color: #000000;
    font-family: fantasy;
    font-size: 2.5vw;
  }
.hidden {
    display: none;
}
.favoritos-sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px; /* Ajusta el ancho según sea necesario */
    height: 100%; /* O ajusta la altura según sea necesario */
    background: rgb(108,11,100);
    background: linear-gradient(90deg, rgba(108,11,100,1) 0%, rgba(81,10,84,1) 46%, rgba(22,0,21,1) 100%);
    padding: 20px;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1); /* Sombra en el lado izquierdo */
    z-index: 1000; /* Ajusta según sea necesario */
    text-align: center;
}

.favbtn{
    background-color: purple;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 10px; /* Ajusta el valor según desees esquinas más o menos redondas */
    cursor: pointer;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.favoritos-sidebar.open {
    display: block;
}

.favoritos-sidebar h2 {
    margin-bottom: 10px;
    background-color: white;
}

.favoritos-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
}

.favoritos-sidebar ul li {
    margin-bottom: 10px;
}

/* Añade el siguiente estilo para ocultar el scrollbar vertical cuando no sea necesario */
body {
    overflow-y: scroll;
}

/* Cambia el estilo de la clase 'open' para mostrar la barra lateral */
.favoritos-sidebar.open {
    display: block;
}

.btn-corazon { /*FORMATO BOTON FAVORITO*/
    width: 40px;
    height: 40px;
    background-color: transparent; /* Establecer el fondo blanco */
    border: none;
    font-size: 45px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease; /* Agregar transición para el color de fondo */
    margin-top: -6%;
}

.btn-corazon.active {
    color: red;
}

.generoyfav{ /*DISPOSICION GENERO Y BOTON CORAZON*/
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 767px) { /*CONDICIONES PARA PANTALLAS MENORES A 767PX DE ANCHO*/
    .artistas p { /*FORMATO DE ARTISTAS INVITADOS*/
        font-weight: bold;
        font-size: 5vw;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    
    h3{ /*GENERO*/
        font-size: 5vw;
        font-weight: bold;
        color: white;
    }
    .cabecera p{ /*FORMATO CABECERA SUBTITULO*/
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3vw;
    }
    
    .cabecera h1 { /*FORMATO CABECERA TITULO*/
        font-family: fantasy;
        font-size: 9vw;
        color: white;
    }
    .cantante img { /*TAMAÑO IMAGEN*/
        width: 60vw; 
        height: 80vw;
        padding: 5px;
     }
     .cantante p { /*FORMATO NOMBRE CANTANTE*/
        font-size: 4vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: white;
    }
    .cantante h3{ /*FORMATO GENERO CANTANTE*/
        font-size: 3.5vw;
        font-weight: bold;
        color: rgb(171, 171, 171);
        padding-bottom: 40px;
    }
    .mapa h4{ /*FORMATO TEXTO MAPA*/
        font-size: 2.5vw;
        font-weight: bold;
        color: white;
    }
    
    .mapa p{ /*FORMATO TEXTO MAPA*/
        font-size: 3vw;
        font-weight: bold;
        color: white;
    }
}

@media only screen and (min-width:768px) and (max-width: 991px) { /*CONDICIONES PARA PANTALLAS MAYORES A 767PX DE ANCHO Y MENORES A 991 DE ANCHO*/
    .artistas p { /*FORMATO DE ARTISTAS INVITADOS*/
        font-weight: bold;
        font-size: 4vw;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    
    h3{ /*GENERO*/
        font-size: 5vw;
        font-weight: bold;
        color: white;
    }
    .cabecera p{ /*FORMATO CABECERA SUBTITULO*/
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3vw;
    }
    
    .cabecera h1 { /*FORMATO CABECERA TITULO*/
        font-family: fantasy;
        font-size: 10vw;
        color: white;
    }
    .cantante img { /*TAMAÑO IMAGEN*/
        width: 30vw; 
        height: 40vw;
        padding: 5px;
     }
     .cantante p { /*FORMATO NOMBRE CANTANTE*/
        font-size: 3vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: white;
    }
    .cantante h3{ /*FORMATO GENERO CANTANTE*/
        font-size: 2.5vw;
        font-weight: bold;
        color: rgb(171, 171, 171);
        padding-bottom: 40px;
    }

    .mapa h4{ /*FORMATO TEXTO MAPA*/
        font-size: 2.5vw;
        font-weight: bold;
        color: white;
    }
    
    .mapa p{ /*FORMATO TEXTO MAPA*/
        font-size: 3vw;
        font-weight: bold;
        color: white;
    }
}

/* Estilos para la barra de búsqueda */
.search-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.search-form input {
    padding: 8px;
    font-size: 16px;
}

.search-form button {
    padding: 8px 16px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

