body{ /*COLOR DE FONFO DE PAGINA*/
    background-color: black; 
}

h3{ /*GENERO*/
    font-size: 4vw;
    font-weight: bold;
    color: white;
}

a { /*PARA QUE NO SE SUBRAYEN LOS ENLACES*/
    text-decoration: none;
  }


footer { /*PIE DE PAGINA*/
    background-color: #f2f2f2;
    padding: 15px;
}


.cabecera { /*FONDO CABECERA*/
    background: linear-gradient(to right, rgb(196, 160, 41),rgb(255, 0, 140), rgb(111, 0, 255));
}

.cabecera p{ /*FORMATO CABECERA SUBTITULO*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5vw;
}


.cabecera h1 { /*FORMATO CABECERA TITULO*/
    font-family: fantasy;
    font-size: 8vw;
    color: white;
}



.artistas{ /*FONDO DE LA FILA DE ARTISTAS INVITADOS*/
    background-color: white;
}

.artistas p { /*FORMATO DE ARTISTAS INVITADOS*/
    font-weight: bold;
    font-size: 3.5vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    text-align: center
}

.cantante img { /*TAMAÑO IMAGEN*/
   width: 20vw; 
   height: 30vw;
   padding: 5px;
}

.cantante p { /*FORMATO NOMBRE CANTANTE*/
    font-size: 1.8vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.cantante h3{ /*FORMATO GENERO CANTANTE*/
    font-size: 1.5vw;
    font-weight: bold;
    color: rgb(171, 171, 171);
    padding-bottom: 50px;
}
.mapa h4{ /*FORMATO TEXTO MAPA*/
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
}

.mapa p{ /*FORMATO TEXTO MAPA*/
    font-size: 2vw;
    font-weight: bold;
    color: white;
}

.btn { /*FORMATO BOTON NUEVO ELEMENTO*/
    background-color: #ffffff;
    color: #000000;
    font-family: fantasy;
    font-size: 2.5vw;
  }

@media only screen and (max-width: 767px) { /*CONDICIONES PARA PANTALLAS MENORES A 767PX DE ANCHO*/
    .artistas p { /*FORMATO DE ARTISTAS INVITADOS*/
        font-weight: bold;
        font-size: 5vw;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    
    h3{ /*GENERO*/
        font-size: 5vw;
        font-weight: bold;
        color: white;
    }
    .cabecera p{ /*FORMATO CABECERA SUBTITULO*/
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3vw;
    }
    
    .cabecera h1 { /*FORMATO CABECERA TITULO*/
        font-family: fantasy;
        font-size: 9vw;
        color: white;
    }
    .cantante img { /*TAMAÑO IMAGEN*/
        width: 60vw; 
        height: 80vw;
        padding: 5px;
     }
     .cantante p { /*FORMATO NOMBRE CANTANTE*/
        font-size: 4vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: white;
    }
    .cantante h3{ /*FORMATO GENERO CANTANTE*/
        font-size: 3.5vw;
        font-weight: bold;
        color: rgb(171, 171, 171);
        padding-bottom: 40px;
    }
    .mapa h4{ /*FORMATO TEXTO MAPA*/
        font-size: 2.5vw;
        font-weight: bold;
        color: white;
    }
    
    .mapa p{ /*FORMATO TEXTO MAPA*/
        font-size: 3vw;
        font-weight: bold;
        color: white;
    }
}

@media only screen and (min-width:768px) and (max-width: 991px) { /*CONDICIONES PARA PANTALLAS MAYORES A 767PX DE ANCHO Y MENORES A 991 DE ANCHO*/
    .artistas p { /*FORMATO DE ARTISTAS INVITADOS*/
        font-weight: bold;
        font-size: 4vw;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    
    h3{ /*GENERO*/
        font-size: 5vw;
        font-weight: bold;
        color: white;
    }
    .cabecera p{ /*FORMATO CABECERA SUBTITULO*/
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3vw;
    }
    
    .cabecera h1 { /*FORMATO CABECERA TITULO*/
        font-family: fantasy;
        font-size: 10vw;
        color: white;
    }
    .cantante img { /*TAMAÑO IMAGEN*/
        width: 30vw; 
        height: 40vw;
        padding: 5px;
     }
     .cantante p { /*FORMATO NOMBRE CANTANTE*/
        font-size: 3vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: white;
    }
    .cantante h3{ /*FORMATO GENERO CANTANTE*/
        font-size: 2.5vw;
        font-weight: bold;
        color: rgb(171, 171, 171);
        padding-bottom: 40px;
    }

    .mapa h4{ /*FORMATO TEXTO MAPA*/
        font-size: 2.5vw;
        font-weight: bold;
        color: white;
    }
    
    .mapa p{ /*FORMATO TEXTO MAPA*/
        font-size: 3vw;
        font-weight: bold;
        color: white;
    }
}
